{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Image and cta btn -->
<div class="jumbotron jumbotron-fluid hero-img" 
style="background-image: url('media/food-corn.jpg'); background-repeat: no-repeat; 
background-size: cover; background-position: center;">
    <div class="container hero-text-cont text-left text-lg-center">
      <h2 class="display-4 text-uppercase text-wht">Order from our menu now</h2>
      <p class="lead text-capitalized text-wht">Open 7 days a week!</p>
      <a href="" class="btn btn-blk mb-3 hvr-float text-uppercase">Order</a>
    </div>
  </div>

<div class="container-fluid text-center">
  <div class="container justify-content-center pt-3 pb-3">
    <img src="media/cornisharms_logo.jpg" alt="" width="150px" height="150px">
 </div>
  <div class="container">
    <div class="row">
      <!-- Bar opening times -->
      <div class="col-sm">
        <h4 class="text-uppercase bg-blk text-wht">bar times</h4>
        <div class="row">
        <div class="col text-left">
          <p><strong>Monday:</strong></p>
          <p><strong>Wednesday:</strong></p>
          <p><strong>Wednesday:</strong></p>
          <p><strong>Thursday:</strong></p>
          <p><strong>Friday:</strong></p>
          <p><strong>Saturday:</strong></p>
          <p><strong>Sunday:</strong></p>
        </div>
        <div class="col text-right text-blk">
          <p>4:30pm to 10pm</p>
          <p>4:30pm to 10pm</p>
          <p>4:30pm to 10pm</p>
          <p>4:30pm to 10pm</p>
          <p>12pm to 11pm</p>
          <p>12pm to 11pm</p>
          <p>12pm to 11pm</p>
        </div>
      </div>
      </div>
      <!-- Food service times -->
      <div class="col-sm">
        <h4 class="text-uppercase bg-blk text-wht">food times</h4>
        <div class="row">
          <div class="col text-left">
            <p><strong>Monday:</strong></p>
            <p><strong>Wednesday:</strong></p>
            <p><strong>Wednesday:</strong></p>
            <p><strong>Thursday:</strong></p>
            <p><strong>Friday:</strong></p>
            <p><strong>Saturday:</strong></p>
            <p><strong>Sunday:</strong></p>
          </div>
          <div class="col text-right text-blk">
            <p>6pm to 7:30pm</p>
            <p>6pm to 7:30pm</p>
            <p>6pm to 7:30pm</p>
            <p>6pm to 7:30pm</p>
            <p>6pm to 7:30pm</p>
            <p>6pm to 7:30pm</p>
            <p>12pm to 3pm & 6pm to 7:30pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}