{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid hero-img" 
style="background-image: url('media/cornisharms.jpg'); background-repeat: no-repeat; 
background-size: cover; background-position: center;">
    <div class="container hero-text-cont text-left text-lg-center">
      <h1 class="display-4 text-uppercase">Order from our menu now</h1>
      <p class="lead text-capitalized">Open 7 days a week</p>
      <a href="" class="btn btn-blk mb-3 hvr-float">The Menu</a>
    </div>
  </div>

{% endblock %}