

/*      Headline Banner Area    */
.headline-banner {
    background-color: #555;
    color: #fafafa;
    font-size: .825rem;
}



/*     Typography & Buttons      */
.text-wht {
    color: #fafafa;
}
