<div class="container-fluid justify-content-center pt-3">
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active main-nav-link txt-wht text-uppercase" href="#">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link main-nav-link text-uppercase" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link main-nav-link text-uppercase" href="#">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link main-nav-link text-uppercase disabled" href="#" tabindex="-1" aria-disabled="true">Gallery</a>
    </li>
  </ul>
</div>